.bg-signin {
    background: url("../img/bg-signin.png")
}

.form-signin {
    width: 100%;
    max-width: 420px;
    padding: 15px;
    margin: auto;
    background: white;
    padding: 30px;
}

.icon-1 {
    width: 16px;
    height: 16px;
}